p-dropdown {
    width: 100%;
    margin: 10px 0;
}

.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #1A3A5F;
}

#register-container {
    font-family: sans-serif;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.name-fields {
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgray;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #A0DA79;
    color: #1A3A5F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transition: 500ms;
    background: lightblue;
}
.error {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}